<div class="modal fade" tabindex="-1" role="dialog" id="contact-us">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="btn close" data-dismiss="modal" aria-label="Close"><i class="icon icon-close"></i></button>
            <div class="modal-body">
                <div class="text-center">
                    <form>
                        <div class="form">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="E-mail">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Message"></textarea>
                            </div>
                        </div>
                    </form>
                    <div class="modal-btn">
                        <a data-toggle="modal" data-target="#thanks" class="btn btn-white" data-dismiss="modal">Send</a>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->