.section-about{
  padding: 90px 0;
  text-align: center;
  &-content{
    padding: 0 $padding;
    >.text{
      max-width: 625px;
      margin: 0 auto;
      line-height: 1.33em;
      font-weight: 600;
    }
  }
  &_item{
    margin: 0 20px;
    padding-top: 70px;
    width: 30%;
    .text{
      font-size: 14px;

    }
    .image{
      margin-bottom: 15px;
      height: 50px;
    }
    .title{
      min-height: 55px;
      h5{
        margin-bottom: 10px;
      }
    }
  }
}
@media(max-width: 1130px) {
  .section-about{
    &-content{
      padding: 0 ;
    }
  }
}
@media(max-width: 980px){
  .section-about{
    padding: 60px 0;
    .flexible{
      @include flex_wrap;
    }
    &_item{
      width: 100%;
      padding-top: 40px;
      .image{
        margin-bottom: 15px;
      }
      h5{
        margin-bottom: 10px;
      }
    }
    &-content{
      max-width: 660px;
      margin: 0 auto;
      .text{
        max-width: 100%;
      }
    }
  }
}