<section class="section-about" id="about">
    <div class="container">
        <div class="section-about-content">
            <h2>About us</h2>
            <div class="text">
                Besk is an IT and consulting company that incorporates the best of development, design, marketing and consulting. We use our unique synergies to:
            </div>
            <div class="flexible">
                <div class="section-about_item">
                    <div class="image"><img src="images/about/design.svg" alt=""></div>
                    <div class="title"><h5>Design / UX</h5></div>
                    <div class="text">
                        Design complex marketing solutions that push products to the front of the customers’ wish lists.
                    </div>
                </div>
                <div class="section-about_item">
                    <div class="image"><img src="images/about/dev.svg" alt=""></div>
                    <div class="title"><h5>Web development and mobile apps</h5></div>
                    <div class="text">
                        Build powerful, easy-to-use websites, apps and systems that give businesses the competitive advantage.
                    </div>
                </div>
                <div class="section-about_item">
                    <div class="image"><img src="images/about/analythic.svg" alt=""></div>
                    <div class="title"><h5>Analytics</h5></div>
                    <div class="text">
                        Formulate and implement advanced financial, operational and product strategies to secure a prosperous future for our clients.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>