@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700');
$font_family: 'Open Sans', Arial, Helvetica, sans-serif;
$font_family-title: 'Titillium Web', sans-serif;
$color_white: #ffffff;
$color_black: #000000;
$color_gray_1: #9B9B9B;
$color_green_1: #48ad33;
$color_red_1: #bf2324;
$color_yellow_1: #ffdd2b;
$color_blue_1: #13c6ca;
$color_text:#727272;
$color_title:#363636;

$bg_footer:#333333;
$bg_section:#FBFBFB;

$border_color_1:#C7C7C7;
$border_color_2:#eeeeee;

$padding:90px;

@mixin bg_gradient(){
  background: #e4bc74;
  background: -moz-linear-gradient(left, #e4bc74 0%, #f3dfa3 100%);
  background: -webkit-linear-gradient(left, #e4bc74 0%,#f3dfa3 100%);
  background: linear-gradient(to right, #e4bc74 0%,#f3dfa3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4bc74', endColorstr='#f3dfa3',GradientType=1 );
}

body{
  font-family: $font_family;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: normal;
  background-color: $color_white;
  min-height: 400px;
  min-width: 320px;
  color: $color_text;
}
html,body{
  width: 100%;
  height: 100%;
}
input,button,textarea,select{
  font-family:$font_family;
  font-size: 14px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
}
img{
  vertical-align: top;
  max-width: 100%;
}
a{
  cursor: pointer;
  color: $color_blue_1;
  text-decoration: none;
  @include web_transition(all .2s ease-in-out);
  &:hover{
    color: $color_black;
  }
}
.under a, a.under{
  text-decoration: underline;
}
.under a:hover, a.under:hover{
  text-decoration: none;
}
b, .bold{
  font-weight: bold;
}
i,.italic{
  font-style: italic;
}
.upper{
  text-transform: uppercase;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
h1, .h1{
  font-size: 52px;
}
h2, .h2{
  font-size: 52px;
}
h3, .h3{
  font-size: 36px;
}
h4, .h4{
  font-size: 32px;
}
h5,.h5{
  font-size: 32px;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5,.h5{
  font-weight: bold;
  line-height: 1.1;
  color: $color_title;
  margin-bottom: 20px;
  font-family: $font_family-title;
}
.light{
  font-weight: 300;
  font-family: $font_family;
}
.dotted{
  border-bottom: 1px dotted;
}
.dashed{
  border-bottom: 1px dashed;
}
.super{
  vertical-align: super;
  font-size: 11px;
}
.caret{
  color: inherit;
  border-top: 5px solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  display: block;
  width: 0;
  height: 0;
}
.box-inline{
  display: inline-block;
  vertical-align: top;
}
.btn{
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  background:none;
  cursor: pointer;
  @include web_transition(all 0.2s ease-in-out);
}
.container{
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
}
.flexible{
  @include block_flex;
  @include flex_justify_between;
}
/*colors*/
.grey{
  color: $color_gray_1;
}
.black{
  color: $color_black;
}
.white{
  color: $color_white;
  .title{
    color: inherit;
    *{
      color: inherit;
    }
  }
}
.blue{
  color: $color_blue_1;
}
.red{
  color: $color_red_1;
}
.yellow{
  color: $color_yellow_1;
}
.green{
  color: $color_green_1;
}
small{
  font-size: 0.75em;
}
/*CONTENT*/
html,
body{
  position: relative;
}
.wrapper{
  width: 100%;
  position: relative;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  display: flex;
}
.text{
  font-size: 18px;
  line-height: 1.75em;
}

@media(max-width: 980px){
  h2{
    font-size: 54px;
  }
}
@media(max-width: 480px){
  h2{
    font-size: 50px;
  }
}