.btn{
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  padding:10px;
  line-height: normal;
  border-radius: 5px;
  position: relative;
  border:1px solid;
  &-sm{
    font-size: 12px;
  }
  &-full{
    width: 100%;
  }
  &.disabled,
  &:disabled{
    background: #e0e0e5;
    color:$color_gray_1;
  }
  &-lg{
    min-width: 270px;
    text-transform: uppercase;
    padding-top: 18px;
    padding-bottom: 18px;
  }
  &-menu{
    border: 0;
    padding: 10px 15px;
    line-height: 2px;
    text-align: right;
    width: 52px;
    .icon-bar{
      display: inline-block;
      vertical-align: top;
      background: $color_title;
      width: 22px;
      height: 2px;
      @include web_transition(all .2s ease-in-out);
      &+.icon-bar{
        margin-top: 5px;
      }
      &:nth-child(2){
        width: 18px;
      }
      &:nth-child(3){
        width: 20px;
      }
    }
    &.open{
      .icon-bar{
        &:first-child {
          @include web_transform(translateY(7px) rotate(45deg));
          width: 100%;
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          @include web_transform(translateY(-7px) rotate(-45deg));
          width: 100%;
        }
      }
    }
  }
  &-white{
    font-size: 18px;
    font-weight: 600;
    padding: 1.25em 2.25em;
    background: $color_white;
    border-radius: 100px;
    color: $color_title;
    box-shadow: 0 0 10px 0 rgba(54,59,110,0.1);
    border: 0;
    font-family: $font_family-title;
    &:hover{
      box-shadow: 0 0 15px 0 rgba(72, 173, 51, 0.5);
    }
  }
  &-white-hover{
    font-size: 18px;
    color: $color_title;
    border: 0;
    font-weight: 600;
    position: relative;
    .name{
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 2;
      font-family: $font_family-title;
      background: inherit;
      padding: 1.25em 2.25em;
      box-shadow: 0 0 10px 0 rgba(54,59,110,0.1);
      background: $color_white;
      border-radius: 100px;
      @include web_transition(all .2s ease-in-out);
    }
    .hover{
      border-radius: 100px;
      box-shadow: 0 25px 25px 10px rgba(73,173,51,.4);
      width: 60%;
      height: 100%;
      z-index: 1;
      top: 0;
      left: 20%;
      position: absolute;
      opacity:0;
      @include web_transition(opacity .2s ease-in-out);
    }
    &:hover{
      .name{
        box-shadow: none;
      }
      .hover{
        opacity: 0.4;
      }
    }
  }
  &-border{
    border: 3px solid rgba(255,255,255,0.4);
    box-shadow: 0 0 7px 0 rgba(54,59,110,0.1);
    font-size: 18px;
    font-weight: bold;
    border-radius: 1.66em;
    padding: 0.834em 1.7em;
    color: $color_white;
    &:hover{
      background: rgba(255,255,255,0.4);
      color: $color_white;
    }
  }
}
.link{
  display: inline-block;
  vertical-align: top;
  &-underline{
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
  &-more{
    color: $color_black;
    padding-right: 25px;
    background:url("../images/arrow.svg") no-repeat center right;
    font-weight: 600;
    &.white{
      color: $color_white;
      background-image:url("../images/arrow-white.svg");
    }
  }
}
@media(max-width: 1130px){
  .btn{
    &-white,
    &-border{
      font-size: 16px;
    }
  }
}
@media(max-width: 767px){
  .btn{
    &-white,
    &-border{
      font-size: 14px;
    }
  }
}