.icon{
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  &-left{
    margin-right: 0.5em;
  }
  &-right{
    margin-left:0.5em;
  }
  &-middle{
    vertical-align: middle;
    margin-top: -2px;
  }
  &-web{
    background-image: url("../images/icon/web.svg");
    height: 18px;	width: 18px;
  }
  &-app{
    background-image: url("../images/icon/apple.svg");
    height: 21px;	width: 19px;
    &.icon-middle{
      margin-top: -7px;
    }
  }
  &-gp{
    background-image: url("../images/icon/gp.svg");
    height: 19px;	width: 17px;
  }
  &-close{
    width: 2px;
    height: 20px;
    background: $color_title;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    display: block;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: inherit;
      width: 100%;
      height: 100%;
      transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
    }
  }
  &-attachment{
    width: 14px;
    height: 20px;
    background-image: url("../images/icon/attachment.svg");
  }
}