.border-bottom{
  padding-bottom: 10px;
  border-bottom:1px solid $border_color_1;
}
.block-intro{
  @include block_flex;
  @include flex_wrap;
  text-align: center;
  color: #2f3748;
  height: 100%;
  position: fixed;
  width: 100%;
  overflow-y: auto;
  top:0;
  left:0;
  &-logo{
    @include flex_align_self_center;
    @include flex_col_full;
    padding-top: 100px;
    .slogo{
      font-size: 25px;
      letter-spacing: 5px;
      font-weight: 300;
      text-transform: uppercase;
      padding: 30px 10px 0;
    }
    .logo{
      width: 320px;
      margin: 0 auto;
    }
  }
  &-down{
    font-size: 14px;
    line-height: 30px;
    padding: 50px 10px;
    @include flex_align_self_center;
    @include flex_col_full;
  }
}