.form{
  &-name{
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid $border_color_1;
    margin-bottom: 30px;
    padding-bottom: 10px;
  }
  &-group{
    margin-bottom: 5px;
  }
  &-btn{
    margin-top: 35px;
  }
  &-text{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  &-control{
    background: $bg_section;
    margin: 0;
    font-size: 18px;
    color: $color_title;
    outline: none;
    width: 100%;
    border: none;
    border-bottom: 2px solid $border_color_1;
    vertical-align: top;
    line-height: normal;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-clip: padding-box;
    padding: 18px 20px;
    height: 58px;
    &:disabled{
      background: $color_gray_1;
      color: $color_white;
    }
    &:focus,
    &:hover{
      &:hover{
        border-bottom: 2px solid $color_green_1;
        @include box_shadow(0 2px 0px 0 rgba(72, 173, 51, 0.4));
      }
    }
    &::-webkit-input-placeholder{
      color: $color_gray_1;
    }
    &:-moz-placeholder{
      color: $color_gray_1;
    }
    &:-ms-input-placeholder{
      color: $color_gray_1;
    }
    &.error{
      border-color: $color_red_1;
    }
    &.valid{
      border-color: $color_green_1;
    }
    &.warning{
      border-color:$color_yellow_1;
    }
  }
}
textarea.form-control{
  resize: vertical;
  max-height: 300px;
  min-height: 120px;
}

.box-inputfile{
  position: relative;
}
.box-inputfile .inputfile{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile+ label{
  display: block;
  border-bottom: 2px solid $border_color_1;
}
.inputfile:focus + label,
.inputfile.has-focus + label,
.inputfile+ label:hover {
  border-bottom: 2px solid $color_green_1;
  @include box_shadow(0 2px 0px 0 rgba(72, 173, 51, 0.4));
}
.inputfile + label span{
  width: 100%;
  min-height: 2em;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: $color_gray_1;
  font-size: 18px;
  vertical-align: top;
  padding: 16px 20px;
}
.inputfile + label strong {
  height: 100%;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -10px;
}
.inputfile.selected + label span{
  color: $color_title;
}
.inputfile:focus + label strong,
.inputfile.has-focus + label strong,
.inputfile + label:hover strong {
  /*background-color: #722040;*/
}