.section-contact{
  padding: 150px 0;
  background: $bg_section url("../images/bitmap.png") no-repeat center;
  background-size: auto 90%;
  text-align: center;
  &_content{
    padding: 0 90px;
    &_address{
      padding-top: 80px;
      padding-bottom: 100px;
      width: 100%;
      @include block_flex();
      @include flex_direction_row();
      @include flex_wrap();
      &_items{
        font-size: 14px;
        padding: 15px 0;
        display: inline-block;
        vertical-align: top;
        text-align: left;
        margin-right: 68px;
        &:last-child{
          margin-right: 0;
        }
        .city{
          color: $color_title;
          font-weight: bold;
          padding-bottom: 6px;
        }
        h5{
          margin-bottom: 10px;
        }
        .address{
          color: #727272;
          font-weight: 600;
        }
      }
    }
    .box-btn{
      text-align: center;
    }
  }
}
@media(max-width: 1130px) {
  .section-contact{
    &_content{
      padding: 0 ;
    }
  }
}

@media(max-width: 980px){
  .section-contact{
    padding: 60px 0;
  }
  .section-contact_content{
    max-width: 660px;
    margin: 0 auto;
    &_address{
      padding-top: 15px;
      padding-bottom: 30px;
    }
  }
}