.section-text {
  background: $bg_section;
  padding: 60px 0;
  &_content {
    text-align: center;
    max-width: 660px;
    width: 100%;
    margin: 0 auto;
    h2 {
      font-size: 52px;
      margin-bottom: 10px;
    }
    .text {
      font-weight: 600;
    }
  }
}

.section-positions {
  background: $bg_section;
  padding-bottom: 71px;
  &_content {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    @include block-flex-top();

    &_vacancies {
      width: 44%;
      &_name {
        font-size: 32px;
        font-weight: bold;
        line-height: 43px;
        color: $color_title;
      }
      &_items {
        border-bottom: 2px solid $border_color_1;
        padding: 20px 0;
        margin-bottom: 6px;
        display: block;
        @include block-flex-center();
        &:hover{
          border-bottom: 2px solid $color_green_1;
          @include box_shadow(0 2px 0px 0 rgba(72, 173, 51, 0.4));
          .section-positions_content_vacancies_items_position {
            color: $color_black;
          }
        }
        &_position {
          color: $color_title;
          font-size: 18px;
          line-height: 24px;
        }
        &_country {
          color: #727272;
          font-size: 14px;
          line-height: 19px;
          text-align: right;
          padding-right: 10px;
        }
      }
    }
    &_bonuses {
      width: 50%;
      @include block_flex();
      @include flex_direction_row();
      @include flex_wrap();
      &_items {
        width: 47%;
        padding: 120px 25px 25px 25px;
        position: relative;
        display: block;
        text-align: center;
        background: $color_white;
        @include box_shadow(0 0 10px 0 rgba(0, 0, 0, .05));
        margin: 8px;
        &:hover {
          @include box_shadow(0 0 10px 0 rgba(72, 173, 51, 0.25));
        }
        &_icon {
          position: absolute;
          top: 60px;
          left: 42%;
        }
        &_name {
          color: $color_title;
          font-size: 24px;
          font-weight: bold;
          line-height: 32px;
        }
        &_text {
          color: #727272;
          font-size: 14px;
          line-height: 25px;
        }
      }
    }
  }
}

.icon-flexibility {
  width: 39px;
  height: 39px;
  background-image: url(../images/career/calendar.svg);
}

.icon-sport {
  width: 48px;
  height: 36px;
  background-image: url(../images/career/dumbbell.svg);
}

.icon-evaluations {
  width: 48px;
  height: 42px;
  background-image: url(../images/career/blog.svg);
}

.icon-english {
  width: 42px;
  height: 42px;
  background-image: url(../images/career/professor.svg);
}

.icon-copy {
  width: 16px;
  height: 8px;
  background-image: url(../images/career/copy.svg);
}
a{
  .icon-copy{
    position: relative;
    @include web_transition(all .4s cubic-bezier(.07,.06,.20,.90));
    right: 0;
    margin-left: 10px;
  }
  &:hover{
    .icon-copy{
      right: -10px;
    }
  }
}
@media(max-width: 1130px) {
  .section-positions{
    &_content{
      @include flex_wrap;
      &_vacancies,
      &_bonuses{
        width: 100%;
        max-width: 660px;
        margin:0 auto;
      }
      &_bonuses{
        margin-top: 40px;
        @include flex_justify_between;
        &_items{
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
}
@media(max-width: 767px) {
  .section-text{
    padding: 40px 0;
  }
  .section-text_content h2{
    font-size: 40px;
  }
  .section-text_content .text{
    font-size: 14px;
  }
}
@media(max-width: 580px) {
  .section-positions_content_bonuses_items{
    width: 100%;
  }
}