<section class="section-text" >
  <div class="container">
    <div class="section-text_content">
      <h2>Fresh talent needed</h2>
      <div class="text">
        We are always looking for new team members to help us with the exciting projects that we are working on. Come join us!
      </div>
    </div>
  </div>
</section>