<section class="section-positions">
  <div class="container">
    <div class="section-positions_content">
      <div class="section-positions_content_vacancies">
        <div class="section-positions_content_vacancies_name">Open positions</div>
        <a href="vacancies.html" class="section-positions_content_vacancies_items">
          <div class="section-positions_content_vacancies_items_position">
            Senior Java Developer
          </div>
          <div class="section-positions_content_vacancies_items_country">
            <span>Minsk / Mogilev / Kiev</span>
            <i class="icon icon-copy icon-middle"></i>
          </div>
        </a>
        <a href="vacancies.html" class="section-positions_content_vacancies_items">
          <div class="section-positions_content_vacancies_items_position">
            Senior Java Developer
          </div>
          <div class="section-positions_content_vacancies_items_country">
            <span>Minsk / Mogilev / Kiev</span>
            <i class="icon icon-copy icon-middle"></i>
          </div>
        </a>
        <a href="vacancies.html"  class="section-positions_content_vacancies_items">
          <div class="section-positions_content_vacancies_items_position">
            Senior Java Developer
          </div>
          <div class="section-positions_content_vacancies_items_country">
            <span>Minsk / Mogilev / Kiev</span>
            <i class="icon icon-copy icon-middle"></i>
          </div>
        </a>
        <a href="vacancies.html"  class="section-positions_content_vacancies_items">
          <div class="section-positions_content_vacancies_items_position">
            Senior Java Developer
          </div>
          <div class="section-positions_content_vacancies_items_country">
            <span>Minsk / Mogilev / Kiev</span>
            <i class="icon icon-copy icon-middle"></i>
          </div>
        </a>
      </div>
      <div class="section-positions_content_bonuses">
        <a class="section-positions_content_bonuses_items">
          <div class="section-positions_content_bonuses_items_icon">
            <i class="icon icon-flexibility"></i>
          </div>
          <div class="section-positions_content_bonuses_items_name">Flexibility</div>
          <div class="section-positions_content_bonuses_items_text">Our employees can choose their working time schedule
            and always get paid for the overtime.
          </div>
        </a>
        <a class="section-positions_content_bonuses_items">
          <div class="section-positions_content_bonuses_items_icon">
            <i class="icon icon-sport"></i>
          </div>
          <div class="section-positions_content_bonuses_items_name">Sport</div>
          <div class="section-positions_content_bonuses_items_text">Healthy body - healthy mind. We encourage people to
            be active so we cover a part of sport club expenses.
          </div>
        </a>
        <a class="section-positions_content_bonuses_items">
          <div class="section-positions_content_bonuses_items_icon">
            <i class="icon icon-evaluations"></i>
          </div>
          <div class="section-positions_content_bonuses_items_name">Evaluations</div>
          <div class="section-positions_content_bonuses_items_text">Every 6 months we gather personalized feedback from
            clients and colleagues. Where we looking at solutions and recommendations for personal growth.
          </div>
        </a>
        <a class="section-positions_content_bonuses_items">
          <div class="section-positions_content_bonuses_items_icon">
            <i class="icon icon-english"></i>
          </div>
          <div class="section-positions_content_bonuses_items_name">English</div>
          <div class="section-positions_content_bonuses_items_text">We have our own teacher who will identify you in the
            group of the level appropriate for you and you will be perfected without making any effort to ride and pay.
          </div>
        </a>
      </div>
    </div>
  </div>
</section>