<section class="section-vacancies-info">
  <div class="container">
    <div class="section-vacancies-info_content">
      <div class="section-vacancies-info_content_vacancies">
        <div class="section-vacancies-info_name">What we’d like to see:</div>
        <div class="section-vacancies-info_content_vacancies_info">
          <p>Experience with Spring cloud, Hystrix, Feign </p>
          <p>Experience working with Swagger API specificaitons </p>
          <p>Experience with Continuous Integration / Continuous Delivery using modern DevOps tools and workflows - GitHub, TravisCI, Docker, Terraform IaC </p>
          <p>Experience with NoSQL Datastores such as Couchbase, Cassandra and MongoDB </p>
          <p>Experience with Spring Boot </p>
          <p>Experience with Grails/Groovy </p>
        </div>
        <div class="section-vacancies-info_name">Location:</div>
        <div class="section-vacancies-info_content_vacancies_info">
          <p>Minsk</p>
          <p>Mogilev</p>
          <p>Kiev</p>
        </div>
      </div>
      <div class="section-vacancies-info_content_resume">
        <div class="section-vacancies-info_name"> Send resume:</div>
        <form>
          <div class="form">
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Name">
            </div>
            <div class="form-group">
              <input class="form-control" type="text" placeholder="E-mail">
            </div>
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Telephone">
            </div>
            <div class="form-group">
              <div class="box-inputfile">

                <input type="hidden" name="ResumeFile[file]" value=""><input type="file" id="file-7" class="inputfile inputfile-6 vacancy-resume" name="ResumeFile[file]" accept="application/msword,text/plain,application/pdf,text/rtf" data-multiple-caption="{count} files selected">

                <label for="file-7">
                   <span>
                       <p class="no-select">Pin your resume</p></span>
                  <strong>
                    <i class="icon icon-attachment"></i>
                  </strong>
                </label>
              </div>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Tell us a bit about yourself">
            </div>
          </div>
        </form>
        <div class="box-btn">
          <a href="#" class="btn btn-white">Apply</a>
        </div>
      </div>
    </div>
  </div>
</section>