<section class="section-vacancies-text" >
  <div class="container">
    <div class="section-vacancies-text_content">
     <div class="breadcrumbs">Home / Careers</div>
      <a href="career.html" class="section-vacancies-text_content_prev"><i class="icon-middle icon icon-prev"></i> To careers </a>
      <h2>Senior Java Developer</h2>
    </div>
  </div>
</section>