.section-vacancies-text {
  background: $bg_section;
  padding: 30px 0;
  &_content {
    text-align: left;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    .breadcrumbs {
      color: #C7C7C7;
      font-size: 11px;
      font-weight: 600;
      line-height: 16px;
      padding-bottom: 30px;
    }
    &_prev {
      color: $color_title;
      font-size: 18px;
      font-weight: 600;
      line-height:1.5;
      padding-bottom: 22px;
    }
    h2 {
      font-size: 52px;
      margin-bottom: 10px;
      margin-top: 20px;
    }

  }
}

.section-vacancies-info {
  background: $bg_section;
  padding-bottom: 71px;
  &_name {
    color:  $color_title;
    font-size: 32px;
    font-weight: bold;
    line-height: 32px;
    padding-bottom: 28px;
  }
  &_content {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    @include block-flex-top();
    & > div {
      max-width: 450px;
      width: 100%;
    }
    &_vacancies {
      &_info {
        padding-bottom: 50px;
        color: #727272;
        font-size: 18px;
        line-height: 35px;
      }
    }
    &_resume{
      .box-btn{
        padding-top: 35px;
      }
    }
  }
}

.icon-prev {
  width: 16px;
  height: 8px;
  background-image: url(../images/arrow-p.png);
}

@media(max-width: 1130px) {
  .section-vacancies-info_content_vacancies_info{
    font-size: 16px;
  }
}
@media(max-width: 980px) {
  .section-vacancies-info_content{
    @include flex_wrap;
    >div{
      width: 100%;
      max-width: 660px;
      margin:0 auto;
    }
  }
  .section-vacancies-text_content{
    width: 100%;
    max-width: 660px;
    margin:0 auto;
  }
}
@media(max-width: 767px) {
  .section-vacancies-text_content h2{
    font-size: 40px;
  }
  .section-vacancies-info_content_vacancies_info{
    font-size: 14px;
  }
}