<section class="section-services">
  <div class="container">
    <div class="section-services_content">
      <h2>Services</h2>
      <div class="text">A One-stop-shop for development, marketing, recruiting and consulting.</div>
      <div class="section-services_content_technologies">
        <h4>Technologies:</h4>
        <div class="section-services_content_technologies_items">
          <div class="section-services_content_technologies_items_item">
            <div class="box-img">
              <img src="images/services/oracle.png" alt="">
            </div>
            <div class="item-text">
              Oracle Java
            </div>
          </div>
          <div class="section-services_content_technologies_items_item">
            <div class="box-img"><img src="images/services/csharp.png" alt=""></div>
            <div class="item-text">C#</div>
          </div>
          <div class="section-services_content_technologies_items_item">
            <div class="box-img"><img src="images/services/dotnet.png" alt=""></div>
            <div class="item-text">.Net</div>
          </div>
          <div class="section-services_content_technologies_items_item">
            <div class="box-img"><img src="images/services/aspnet.png" alt=""></div>
            <div class="item-text">ASP.Net</div>
          </div>
          <div class="section-services_content_technologies_items_item">
            <div class="box-img"><img src="images/services/nodejs.png" alt=""></div>
            <div class="item-text">Grails Nоde.JS</div>
          </div>
          <div class="section-services_content_technologies_items_item">
            <div class="box-img"><img src="images/services/php.png" alt=""></div>
            <div class="item-text">PHP</div>
          </div>
          <div class="section-services_content_technologies_items_item">
            <div class="box-img"><img src="images/services/ruby.png" alt=""></div>
            <div class="item-text">Ruby on rails</div>
          </div>
          <div class="section-services_content_technologies_items_item">
            <div class="box-img"><img src="images/services/swigt.png" alt=""></div>
            <div class="item-text">SWIFT</div>
          </div>
          <div class="section-services_content_technologies_items_item">
            <div class="box-img"><img src="images/services/angular.png" alt=""></div>
            <div class="item-text">AngularJS</div>
          </div>
          <div class="section-services_content_technologies_items_item">
            <div class="box-img"><img src="images/services/react.png" alt=""></div>
            <div class="item-text">ReactJS</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>