.section-services{
  padding: 90px 0;
  background: $color_white;
  text-align: center;
  &_content{
    padding: 0 90px;
    >.text{
      max-width: 500px;
      margin: 0 auto;
      line-height: 1.33em;
      font-weight: 600;
    }
    &_technologies{
      margin-top: 80px;
      .text{
        font-weight: bold;
        padding-top: 30px;
        padding-bottom: 50px;
        color: $color_title;
      }
      &_items{
        @include block-flex-top();
        margin-top: 40px;
        &_item{
          max-width: 80px;
          width: 100%;
          .item-text{
            color: #9b9b9b;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            padding-top: 8px;
            padding-bottom: 10px;
          }
          .box-img{
            position: relative;
            img{
              position: relative;
              z-index: 2;
              @include web_transition(all 0.2s ease-in-out);
            }
            &:after{
              border-radius: 30px;
              box-shadow: 0 20px 20px 10px rgba(#0058B9,.4);
              width: 80%;
              height: 90%;
              z-index: 1;
              top: 0;
              left: 10%;
              position: absolute;
              opacity:0;
              @include web_transition(opacity .2s ease-in-out);
              content: '';
            }
            &:hover{
              img{
                @include web_transform(scale(1.1));
              }
              &:after{
                opacity: 0.4;
              }
            }
          }
        }
      }
    }
  }
}
@media(max-width: 1130px) {
  .section-services{
    &_content{
      padding: 0 ;
    }
  }
}
@media(max-width: 980px){
  .section-services{
    padding:60px 0;
    &_content{
      max-width: 660px;
      margin: 0 auto;
    }
  }
}
@media(max-width: 767px) {
  .section-services_content_technologies .text{
    padding-bottom: 15px;
  }
  .section-services_content_technologies_items{
    @include flex_wrap;
    &_item{
      max-width: 20%;
      text-align: center;
      .item-text{
        font-size: 12px;
        line-height: 1.2;
      }
    }
  }
}