<div class="page-project">
    <div class="page-project-intro white" style="background-image: url('images/projects/bg-page1.png')">
        <div class="container">
            <div class="page-project-intro_content">
                <div class="title"><h2>IQclash</h2></div>
                <div class="text">
                    IQ Clash is a mobile game where everyone can get a reward for their intelligence! Perform all tasks faster than competitors and take the maximum prize!
                </div>
                <div class="links">
                    <a href="#" class="btn btn-border"><i class="icon icon-left icon-app icon-middle"></i>iTunse</a>
                    <a href="#" class="btn btn-border"><i class="icon icon-left icon-gp icon-middle"></i>Google play</a>
                    <a href="#" class="btn btn-border"><i class="icon icon-left icon-web icon-middle"></i>Web</a>
                </div>
            </div>
            <div class="page-project-intro_image">
                <img src="images/projects/img1.png" alt="">
            </div>
        </div>
    </div>
    <div class="page-project-about">
        <div class="container">
            <div class="page-project-about_tech">
                <div class="page-project-about_tech_item">
                    <div class="image"><img src="images/tech/translation.svg" alt=""></div>
                    <div class="title"><h5>Russia, Belarus (xUSSR)</h5></div>
                    <div class="text">Region</div>
                </div>
                <div class="page-project-about_tech_item">
                    <div class="image"><img src="images/tech/clock.svg" alt=""></div>
                    <div class="title"><h5>6 month</h5></div>
                    <div class="text">Duration</div>
                </div>
                <div class="page-project-about_tech_item">
                    <div class="image"><img src="images/tech/cloud.svg" alt=""></div>
                    <div class="title"><h5>IOS 8.0+, Android 4.0.3+</h5></div>
                    <div class="text">Platforms</div>
                </div>
                <div class="page-project-about_tech_item">
                    <div class="image"><img src="images/tech/calendar.svg" alt=""></div>
                    <div class="title"><h5>2017</h5></div>
                    <div class="text">Year</div>
                </div>
            </div>
            <div class="page-project-about_desc">
                <div class="page-project-about_desc_image">
                    <img src="images/projects/img1-3.png" alt="">
                </div>
                <div class="page-project-about_desc_content">
                    <div class="links">
                        <a href="#" class="btn btn-white active">Starting point</a>
                        <a href="#" class="btn btn-white">Project goal</a>
                        <a href="#" class="btn btn-white">Solutions</a>
                        <a href="#" class="btn btn-white">End result for client</a>
                    </div>
                    <div class="text">
                        Intelligent mobile game implementation where players all over the world compete in solving the chains of tasks for a while and get real gifts.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>