<div class="page-projects">
    <div class="container">
        <div class="page-projects-list">
            {% include "blocks/projects/items/_no_halftime.html" %}

            {% include "blocks/projects/items/_hyundai.html" %}
            {% include "blocks/projects/items/_oudermatch.html" %}
            {% include "blocks/projects/items/_bloombees.html" %}


            {% include "blocks/projects/items/_ulmart.html" %}
            {% include "blocks/projects/items/_headshotbets.html" %}
            {% include "blocks/projects/items/_marathonbet.html" %}



            {% include "blocks/projects/items/_know_ww1.html" %}
            {% include "blocks/projects/items/_choosic.html" %}
            {% include "blocks/projects/items/_seasons.html" %}

        </div>
    </div>
</div>