.section-projects{
  padding: 90px 0;
  background: $bg_section;
  &-content{
    //padding: 0 $padding;
    .text{
      max-width: 520px;
    }
  }
  &_item{
    //height: 780px;
    //width: 780px;
    padding: 70px;
    font-size: 13px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
    margin:70px auto 10px;
    .text{
      font-size: 13px;
      max-width: 250px;
    }
    .more{
      margin-top: 60px;
      position: relative;
      z-index: 1;
    }
    &_image{
      text-align: right;
      margin-top: -50px;
      padding-left: 90px;
    }
  }
  .swiper{
    &-container{

    }
    &-button{
      &-next{
        margin-right: 70px;
        background: url("../images/arrow-n.png") no-repeat center right;
      }
      &-prev{
        margin-left: 70px;
        background: url("../images/arrow-p.png") no-repeat center left;
      }
    }
  }
  .box-btn{
    max-width: 700px;
    text-align: right;
    margin: 0 auto;
    margin-top: 15px;
  }
}
.page-projects{
  background: $bg_section;
  padding: 40px 0;
  .container{
    max-width: 1300px;
  }
  &-list{
    @include block_flex;
    @include flex_justify_between;
    @include flex_wrap;
    &_right{
      width: 66.66%;
      @include block_flex;
      @include flex_justify_between;
      @include flex_wrap;
    }
    &-left{
      width: 33.33%;
    }
  }
  &_item{
    background-color: #FFFFFF;
    box-shadow: 0 0 19px 0 rgba(199,199,199,0.15);
    width: 390px;
    max-width: 31.5%;
    padding: 25px 25px 60px;
    position: relative;
    font-size: 13px;
    margin: 18px 0;
    &.full{
      max-width: 100%;
      height: auto;
      width: 100%;
      @include block_flex;
      @include block-flex-center;
      box-shadow: 0 0 19px 0 rgba(0,88,185,0.25);
      background-position: center;
      background-size: cover;
      padding: 35px 90px 20px;
      .text{
        font-size: 18px;
        margin-top: 2em;
        max-width: 520px;
      }
      .links{
        margin-top: 35px;
        .btn{
          margin-bottom: 15px;
          &:not(:last-child){
            margin-right: 15px;
          }
        }
      }
    }
    &.double{
      width: 820px;
      max-width: 65.75%;
      @include block_flex;
      padding-bottom: 24px;
      height: auto;
    }
    &.vertical{
      height: auto;
    }
    .text{
      font-size: inherit;
    }
    &_down{
      position: absolute;
      @include flex_justify_between;
      @include block_flex;
      width: 100%;
      left:0;
      bottom: 0;
      padding: 0 25px 25px;
    }
    &_image{
      margin: -12px 0 24px;
      .vertical &{
        img{
          width: 100%;
        }
      }
      .double &{
        margin: -12px 0;
        width: 50%;
      }
      .full &{
        width: 40%;
        margin: 0;
        text-align: right;
      }
    }
    &_content{
      .double &{
        width: 50%;
        position: relative;
        padding-left: 24px;
        .page-projects_item_down{
          bottom:-24px;
        }
      }
      .full &{
        width: 60%;
        position: relative;
        padding-right: 45px;
      }
    }
    .date{
      font-size: 11px;
      color: $color_gray_1;
    }
  }
}
.page-project{
  background: $bg_section;
  &-intro{
    padding-top: 60px;
    padding-bottom: 60px;
    background: $color_white;
    &.white{
      background: $color_title;
    }
    &:not(.white){
      .btn-border{
        background-color:$color_title;
        border-color:$color_title;
        &:hover{
          background-color:rgba(61, 72, 89, 0.7);
        }
      }
    }
    .container{
      @include block_flex;
      @include block-flex-center;
    }
    .text{
      font-size: 18px;
      margin-top: 2em;
      max-width: 520px;
    }
    .links{
      margin-top: 35px;
      .btn{
        margin-bottom: 15px;
        &:not(:last-child){
          margin-right: 15px;
        }
      }
    }
    &_image{
      width: 40%;
      text-align: right;
    }
    &_content{
      width: 60%;
      padding-right: 45px;
    }
  }
  &-about{
    &_tech{
      @include block_flex;
      @include flex_justify_between;
      @include flex_wrap;
      padding-top: 80px;
      padding-bottom: 25px;
      margin: 0 -25px;
      &_item{
        text-align: center;
        padding:25px;
        .text{
          font-weight: bold;
        }
        .image{
          margin-bottom: 15px;
          height: 45px;
        }
      }
    }
    &_desc{
      padding: 50px 0 100px;
      @include block_flex;
      @include flex_justify_between;
      @include block-flex-center;
      .text{
        max-width: 520px;
        margin-top: 2em;
      }
      .links{
        .btn{
          margin-bottom: 15px;
          &:not(.active){
            background: none;
            box-shadow: none;
          }
          &:last-child{
            margin-right: -55px;
          }
        }
      }
      &_image{
        margin-right: 35px;
      }
      &-text{
        iframe,
        img{
          margin:3em 0;
          &:first-child{
            margin-top: 0;
          }
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
@media(max-width: 1130px) {
  .page-projects_item.full{
    padding: 30px 30px 15px;
    margin-top: 0;
  }
  .page-project{
    &-intro{
      padding-top: 60px;
    }
    &-about_tech{
      padding-top: 30px;
      h5{
        font-size: 20px;
        margin-bottom: 10px;
      }
      .text{
        font-size: 14px;
      }
    }
  }
  .section-projects_item {
    padding: 50px;
  }
}
@media(max-width: 980px){
  .section-projects{
    padding: 60px 0;
    &_item{
      padding: 30px;
      min-width: 256px;
    }
    &-content{
      max-width: 660px;
      margin: 0 auto;
    }
    .swiper-button-prev,
    .swiper-button-next{
      display: none;
    }
  }
}
@media(max-width: 767px){
  .page-projects_item{
    width: 100%;
    max-width: 100%;
    &.vertical{
      padding-bottom: 0;
    }
    @include block_flex;
    @include flex_align_item_center;
    .title{
      width: 30%;
    }
    .text{
      width: 70%;
      padding-left: 25px;
    }
    &_content{
      position: relative;
      width: 70%;
      padding-left: 25px;
      padding-bottom: 50px;
      .text,.title{
        width: 100%;
        padding-left: 0;
      }
    }
    &_image{
      width: 30%;
    }
    &.full{
      @include flex_wrap;
      .page-projects_item_image,
      .page-projects_item_content{
        width: 100%;
        padding-right: 0;
        padding-left: 0;
      }
      h2{
        font-size: 40px;
      }
      .text{
        font-size: 14px;
      }
    }
  }
  .page-project-intro .text{
    font-size: 16px;
  }
}
@media(max-width: 580px) {
  .page-projects{
    padding: 0;
    .container{
      padding: 0;
    }
    &-intro{
      &_image,
      &_content{
        width: 100%;
      }
      &_image{
        margin-top: 25px;
      }
    }
  }
  .page-project{
    &-intro{
      padding-top: 40px;
      .container{
        @include flex_wrap;
      }
      &_image,
      &_content{
        width: 100%;
      }
      &_image{
        margin-top: 25px;
      }
    }
    &-about_tech_item{
      padding: 15px;
      h5{
        font-size: 14px;
      }
    }
    &-about_desc{
      @include flex_wrap;
      &_image{
        width: 100%;
        margin: 0 0 25px;
        text-align: center;
      }
      &_content{
        width: 100%;
      }
      .text{
        margin-top: 25px;
        font-size: 14px;
      }
    }
  }
}
@media(max-width: 420px) {
  .page-projects{
    &_item{
      @include flex_wrap;
      &_image{
        width: 100%;
      }
      &_content{
        width: 100%;
        padding-left: 0;
        .page-projects_item_down{
          padding-left: 0;
          padding-right: 0;
        }
      }
      .title,.text{
        width: 100%;
        padding-left: 0;
      }
    }
  }
}