<section class="section-projects">
    <div class="container">
        <div class="section-projects-content">
            <h2>Projects</h2>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="section-projects_item" style="background-color: #AFE000;">
                            <div class="section-projects_item_text white">
                                <div class="title"><h4>IQclash</h4></div>
                                <div class="text">
                                    IQ Clash is a mobile game where everyone can get a reward for their intelligence!
                                </div>
                                <div class="more"><a href="#" class="link link-more white">Read more</a></div>
                            </div>
                            <div class="section-projects_item_image">
                                <img src="images/projects/img1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="section-projects_item" style="background-color: white;">
                            <div class="section-projects_item_text">
                                <div class="title"><h4>IQclash</h4></div>
                                <div class="text">
                                    IQ Clash is a mobile game where everyone can get a reward for their intelligence!
                                </div>
                                <div class="more"><a href="#" class="link link-more">Read more</a></div>
                            </div>
                            <div class="section-projects_item_image">
                                <img src="images/projects/img1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="section-projects_item" style="background-image: url('images/projects/bg1.jpg')">
                            <div class="section-projects_item_text white">
                                <div class="title"><h4>IQclash</h4></div>
                                <div class="text">
                                    IQ Clash is a mobile game where everyone can get a reward for their intelligence!
                                </div>
                                <div class="more"><a href="#" class="link link-more white">Read more</a></div>
                            </div>
                            <div class="section-projects_item_image">
                                <img src="images/projects/img1.png" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="section-projects_item" style="background-color: #FF7E50;">
                            <div class="section-projects_item_text white">
                                <div class="title"><h4>IQclash</h4></div>
                                <div class="text">
                                    IQ Clash is a mobile game where everyone can get a reward for their intelligence!
                                </div>
                                <div class="more"><a href="#" class="link link-more white">Read more</a></div>
                            </div>
                            <div class="section-projects_item_image">
                                <img src="images/projects/img1.png" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="section-projects_item" style="background-color:#AEE0FF;">
                            <div class="section-projects_item_text">
                                <div class="title"><h4>IQclash</h4></div>
                                <div class="text">
                                    IQ Clash is a mobile game where everyone can get a reward for their intelligence!
                                </div>
                                <div class="more"><a href="#" class="link link-more">Read more</a></div>
                            </div>
                            <div class="section-projects_item_image">
                                <img src="images/projects/img1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            <div class="box-btn">
                <a href="projects.html" class="link link-more">View all projects</a>
            </div>
        </div>
    </div>
</section>