.section-intro{
  padding-top: 180px;
  padding-bottom: 180px;
  background: $bg_section url("../images/bitmap.png") no-repeat center;
  &_text{
    padding-top: 50px;
    .title{
      margin-bottom: 20px;
    }
    .logo{
      height: 96px;
      width: 237px;
    }
    .box-btn{
      margin-top: 75px;
      .btn{
        margin-bottom: 15px;
        &:not(:last-child){
          margin-right: 20px;
        }
      }
    }
  }
  &_news{
    width: 50%;
    padding-left: 90px;
    padding-right: 90px;
    position: relative;
    &_item{
      background: $color_white;
      font-size: 13px;
      position: relative;
      height: 475px;

      color: $color_black;
      &:after,&:before{
        box-shadow: 0 0 19px 0 rgba(199,199,199,0.5);
        width: 100%;
        height: 100%;
        background: $color_white;
        position: absolute;
        bottom: 0;
        right: 0;
        content: '';
        @include web_transform(scale(0.9));
        transform-origin: 100% 50%;
        -webkit-transform-origin: 100% 50%;
        margin-right: -45px;
        z-index: 1;
      }
      &:before{
        margin-right: -80px;
        @include web_transform(scale(0.8));
      }
      .text{
        font-size: inherit;
      }
      .date{
        color: $color_gray_1;
        margin-top: 1em;
      }
      .more{
        margin-top: 2em;
      }
      &_content{
        box-shadow: 0 0 19px 0 rgba(72, 173, 51, 0.25);
        padding: 45px 0 0 45px;
        background: $color_white;
        position: relative;
        @include block_flex;
        height: 100%;
        z-index: 2;
      }
      &_text{
        width: 50%;
      }
      &_image{
        width: 50%;
        position: relative;
        img{
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
    }
    .box-btn{
      font-size: 13px;
      text-align: right;
      margin-top: 1.5em;
    }
  }
}
@media(max-width: 1300px) {
  .section-intro{
    padding: 60px 0;
    &_news{
      padding-left: 0;
      width: 65%;
    }
  }
}
@media(max-width: 980px){
  .section-intro{
    padding: 60px 0;
    .flexible{
      display: block;
      max-width: 660px;
      margin: 0 auto;
    }
    &_text{
      padding-top: 0;
      padding-bottom: 50px;
      .title{
        margin-bottom: 0;
      }
      .box-btn{
        margin-top: 15px;
      }
    }
    &_news{
      width: 100%;
      padding-right: 75px;
    }
  }
}
@media(max-width: 580px){
  .section-intro{
    padding: 40px 0;
    h3{
      font-size: 38px;
    }
    h4{
      font-size: 27px;
    }
    &_news_item{
      &_content{
        padding: 25px;
        display: block;
        overflow: hidden;
      }
      &_text{
        width: 100%;
      }
      &_image{
        width: 100%;
        text-align: right;
        margin-top: 25px;
        img{
          position: relative;
        }
      }
    }
  }
}
@media(max-width: 480px){
  .section-intro_news{
    padding-right: 0;
  }
}