<section class="section-intro">
    <div class="container">
        <div class="flexible">
            <div class="section-intro_text">
                <div class="title"><img class="logo" src="images/logo.svg" alt=""></div>
                <h2>Simple and fast solutions</h2>
                <h3 class="light">We care of your time</h3>
                <div class="box-btn">
                    <a href="#" class="btn btn-white-hover"><span class="name">Read about Us</span><span class="hover"></span></a>
                    <a href="#" class="btn btn-white-hover"><span class="name">Projects</span><span class="hover"></span></a>
                </div>
            </div>
            <div class="section-intro_news">
                <h4 class="light">Last projects</h4>
                <div class="section-intro_news_item">
                    <div class="section-intro_news_item_content">
                        <div class="section-intro_news_item_text">
                            <div class="title"><h4>IQclash</h4></div>
                            <div class="text">
                                IQ Clash is a mobile game where everyone can get a reward for their intelligence!
                            </div>
                            <div class="date">12 july 2017</div>
                            <div class="more"><a href="#" class="link link-more">Read more</a></div>
                        </div>
                        <div class="section-intro_news_item_image">
                            <img src="images/news/1.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="box-btn"><a href="#" class="link link-more">View all projects</a></div>
            </div>
        </div>

    </div>
</section>