{% include "blocks/base/_page-head.html" %}
{% include "blocks/header/_header.html" %}

<div class="main">
  <div class="page-project">
  <div class="page-project-intro">
    <div class="container">
      <div class="page-project-intro_content">
        <div class="title"><h2>Headshotbets</h2></div>
        <div class="text">
          An innovative resource for people to hang on and watch-discuss-place bets on Cyber Championships - Dota, League of Legends, StarcCraft and way more. Started with just a betting feed the resource now boasts a chat, communities, live streaming, game reviews, championship history. Even more ambitious plans are on the way.

        </div>
        <div class="links">
          <a href="https://www.headshotbet.com/" target="_blank" class="btn btn-border"><i class="icon icon-left icon-web icon-middle"></i>Web</a>
        </div>
      </div>
      <div class="page-project-intro_image">
        <img src="images/projects/headshotbets/img0.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="page-project-about">
    <div class="container">
      <div class="page-project-about_tech">
        <div class="page-project-about_tech_item">
          <div class="image"><img src="images/tech/translation.svg" alt=""></div>
          <div class="title"><h5>Global</h5></div>
          <div class="text">Region</div>
        </div>
        <div class="page-project-about_tech_item">
          <div class="image"><img src="images/tech/clock.svg" alt=""></div>
          <div class="title"><h5>6 month</h5></div>
          <div class="text">Duration</div>
        </div>
        <div class="page-project-about_tech_item">
          <div class="image"><img src="images/tech/cloud.svg" alt=""></div>
          <div class="title"><h5>iOS / Android / Web</h5></div>
          <div class="text">Platforms</div>
        </div>
        <div class="page-project-about_tech_item">
          <div class="image"><img src="images/tech/calendar.svg" alt=""></div>
          <div class="title"><h5>2015</h5></div>
          <div class="text">Year</div>
        </div>
      </div>
      <div class="page-project-about_desc">
        <div class="page-project-about_desc-text">
          <img src="images/projects/headshotbets/img2.png" alt="">

        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!--{% include "blocks/footer/_footer.html" %}-->
{% include "blocks/base/_page-down.html" %}