{% include "blocks/base/_page-head.html" %}
{% include "blocks/header/_header.html" %}

<div class="main">
  <div class="page-project">
  <div class="page-project-intro">
    <div class="container">
      <div class="page-project-intro_content">
        <div class="title"><h2>No Halftime</h2></div>
        <div class="text">
          No Halftime is a mobile application that allows you and your friends to bet on your favorite sports stars in fantasy matches and win real money.
        </div>
        <div class="links">
          <a href="https://itunes.apple.com/us/app/id1043638730" target="_blank" class="btn btn-border"><i class="icon icon-left icon-app icon-middle"></i>iTunse</a>
          <a href="http://www.nohalftime.com/" target="_blank" class="btn btn-border"><i class="icon icon-left icon-web icon-middle"></i>Web</a>
        </div>
      </div>
      <div class="page-project-intro_image">
        <img src="images/projects/no_halftime/img0.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="page-project-about">
    <div class="container">
      <div class="page-project-about_tech">
        <div class="page-project-about_tech_item">
          <div class="image"><img src="images/tech/translation.svg" alt=""></div>
          <div class="title"><h5>USA</h5></div>
          <div class="text">Region</div>
        </div>
        <div class="page-project-about_tech_item">
          <div class="image"><img src="images/tech/clock.svg" alt=""></div>
          <div class="title"><h5>6 month</h5></div>
          <div class="text">Duration</div>
        </div>
        <div class="page-project-about_tech_item">
          <div class="image"><img src="images/tech/cloud.svg" alt=""></div>
          <div class="title"><h5>iOS / Android / Web</h5></div>
          <div class="text">Platforms</div>
        </div>
        <div class="page-project-about_tech_item">
          <div class="image"><img src="images/tech/calendar.svg" alt=""></div>
          <div class="title"><h5>2015</h5></div>
          <div class="text">Year</div>
        </div>
      </div>
      <div class="page-project-about_desc">
        <div class="page-project-about_desc-text">
          <img src="images/projects/no_halftime/img2.png" alt="">

          <h3>1st ever
            fantasy
            betting
            startup
          </h3>
          ItTop together with betting startup from California builded an app that lets you bet in real time.

          <img src="images/projects/no_halftime/img4.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!--{% include "blocks/footer/_footer.html" %}-->
{% include "blocks/base/_page-down.html" %}