{% include "blocks/base/_page-head.html" %}
{% include "blocks/header/_header.html" %}

<div class="main">
  <div class="page-project">
  <div class="page-project-intro">
    <div class="container">
      <div class="page-project-intro_content">
        <div class="title"><h2>Hyundai</h2></div>
        <div class="text">
          World Hyundai is a benefit program which was created for Hyundai clients to help them to collect bonuses and get prizes.
        </div>
        <div class="links">
          <a href="https://itunes.apple.com/ru/app/mir-hende/id1180638641?l=en&mt=8" target="_blank" class="btn btn-border"><i class="icon icon-left icon-app icon-middle"></i>iTunse</a>
          <a href="https://play.google.com/store/apps/details?id=com.mediapark.hyundai" target="_blank" class="btn btn-border"><i class="icon icon-left icon-gp icon-middle"></i>Google play</a>
          <a href="https://mir.hyundai.ru" target="_blank" class="btn btn-border"><i class="icon icon-left icon-web icon-middle"></i>Web</a>
        </div>
      </div>
      <div class="page-project-intro_image">
        <img src="images/projects/hyundai/img0.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="page-project-about">
    <div class="container">
      <div class="page-project-about_tech">
        <div class="page-project-about_tech_item">
          <div class="image"><img src="images/tech/translation.svg" alt=""></div>
          <div class="title"><h5>Russia</h5></div>
          <div class="text">Region</div>
        </div>
        <div class="page-project-about_tech_item">
          <div class="image"><img src="images/tech/clock.svg" alt=""></div>
          <div class="title"><h5>6 month</h5></div>
          <div class="text">Duration</div>
        </div>
        <div class="page-project-about_tech_item">
          <div class="image"><img src="images/tech/cloud.svg" alt=""></div>
          <div class="title"><h5>iOS / Android / Web</h5></div>
          <div class="text">Platforms</div>
        </div>
        <div class="page-project-about_tech_item">
          <div class="image"><img src="images/tech/calendar.svg" alt=""></div>
          <div class="title"><h5>2016</h5></div>
          <div class="text">Year</div>
        </div>
      </div>
      <div class="page-project-about_desc">
        <div class="page-project-about_desc-text">
          <img src="images/projects/hyundai/img2.jpg" alt="">

          <h3>Official
            loyalty
            program of
            Hyundai
          </h3>
          By ItTop team were developed a built-in browser, address history, calendar, car information storage and more other tools.
          <img src="images/projects/hyundai/img3.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!--{% include "blocks/footer/_footer.html" %}-->
{% include "blocks/base/_page-down.html" %}