{% include "blocks/base/_page-head.html" %}
{% include "blocks/header/_header.html" %}

<div class="main">
  <div class="page-project">
  <div class="page-project-intro">
    <div class="container">
      <div class="page-project-intro_content">
        <div class="title"><h2>Bloombees</h2></div>
        <div class="text">
          Bloombees is the best decision for medium and small merchants who want to share and sell products via social networks
        </div>
        <div class="links">
          <a href="https://itunes.apple.com/us/app/sell-online-get-paid-worldwide/id1071517004?mt=8" target="_blank" class="btn btn-border"><i class="icon icon-left icon-app icon-middle"></i>iTunse</a>
          <a href="https://play.google.com/store/apps/details?id=com.bloombees.android" target="_blank" class="btn btn-border"><i class="icon icon-left icon-gp icon-middle"></i>Google play</a>
          <a href="https://bloombees.com/" target="_blank" class="btn btn-border"><i class="icon icon-left icon-web icon-middle"></i>Web</a>
        </div>
      </div>
      <div class="page-project-intro_image">
        <img src="images/projects/bloombees/img0.png" alt="">
      </div>
    </div>
  </div>
  <div class="page-project-about">
    <div class="container">
      <div class="page-project-about_tech">
        <div class="page-project-about_tech_item">
          <div class="image"><img src="images/tech/translation.svg" alt=""></div>
          <div class="title"><h5>Spain</h5></div>
          <div class="text">Region</div>
        </div>
        <div class="page-project-about_tech_item">
          <div class="image"><img src="images/tech/clock.svg" alt=""></div>
          <div class="title"><h5>6 month</h5></div>
          <div class="text">Duration</div>
        </div>
        <div class="page-project-about_tech_item">
          <div class="image"><img src="images/tech/cloud.svg" alt=""></div>
          <div class="title"><h5>Prototype / UX + UI / Website / iOS / Android</h5></div>
          <div class="text">Platforms</div>
        </div>
        <div class="page-project-about_tech_item">
          <div class="image"><img src="images/tech/calendar.svg" alt=""></div>
          <div class="title"><h5>2016</h5></div>
          <div class="text">Year</div>
        </div>
      </div>
      <div class="page-project-about_desc">
        <div class="page-project-about_desc-text">
          <iframe width="100%" height="500" src="https://www.youtube.com/embed/JYpangefRrM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          <h3>5 min
            to create an
            online shop</h3>
          Open your own shop from your phone in five minutes and share your products with your friends and followers.
          <img src="images/projects/bloombees/img3.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!--{% include "blocks/footer/_footer.html" %}-->
{% include "blocks/base/_page-down.html" %}