{% include "blocks/base/_page-head.html" %}
{% include "blocks/header/_header.html" %}

<div class="main">
  <div class="page-project">
  <div class="page-project-intro">
    <div class="container">
      <div class="page-project-intro_content">
        <div class="title"><h2>Choosic</h2></div>
        <div class="text">
          Choosic is an easy to use media player with daily music recommendations and free music listening. Besk developed a unique application and achieve stability in its working.
        </div>
        <div class="links">
          <a href="https://itunes.apple.com/gb/app/choosic-discover-new-music/id921246986?mt=8" target="_blank" class="btn btn-border"><i class="icon icon-left icon-app icon-middle"></i>iTunse</a>
          <a href="https://play.google.com/store/apps/details?id=uk.co.choosic" target="_blank" class="btn btn-border"><i class="icon icon-left icon-gp icon-middle"></i>Google play</a>
          <!--<a href="https://bloombees.com/" target="_blank" class="btn btn-border"><i class="icon icon-left icon-web icon-middle"></i>Web</a>-->
        </div>
      </div>
      <div class="page-project-intro_image">
        <img src="images/projects/choosic/img0.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="page-project-about">
    <div class="container">
      <div class="page-project-about_tech">
        <div class="page-project-about_tech_item">
          <div class="image"><img src="images/tech/translation.svg" alt=""></div>
          <div class="title"><h5>UK</h5></div>
          <div class="text">Region</div>
        </div>
        <div class="page-project-about_tech_item">
          <div class="image"><img src="images/tech/clock.svg" alt=""></div>
          <div class="title"><h5>6 month</h5></div>
          <div class="text">Duration</div>
        </div>
        <div class="page-project-about_tech_item">
          <div class="image"><img src="images/tech/cloud.svg" alt=""></div>
          <div class="title"><h5>iOS / Android</h5></div>
          <div class="text">Platforms</div>
        </div>
        <div class="page-project-about_tech_item">
          <div class="image"><img src="images/tech/calendar.svg" alt=""></div>
          <div class="title"><h5>2015</h5></div>
          <div class="text">Year</div>
        </div>
      </div>
      <div class="page-project-about_desc">
        <div class="page-project-about_desc-text">
          <img src="images/projects/choosic/img3.jpg" alt="">
          <h3>Integrated
            <small>with Jaguar and Land
            Rover car head units</small></h3>
          <h3>Finalist
            <small>of The Duke of New
            York Entrepreneur of
            the Year award</small></h3>
          Due to close work of our team with high-level engineers from Bosh and Jaguar companies our app was integrated in the Land Rover's and Jaguar's car head units.
          <img src="images/projects/choosic/img2.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!--{% include "blocks/footer/_footer.html" %}-->
{% include "blocks/base/_page-down.html" %}