{% include "blocks/base/_page-head.html" %}
{% include "blocks/header/_header.html" %}

<div class="main">
  <div class="page-project">
  <div class="page-project-intro">
    <div class="container">
      <div class="page-project-intro_content">
        <div class="title"><h2>Ulmart</h2></div>
        <div class="text">
          Ulmart is one of the largest private e-commerce company in Russia, with a marketing network that covers more than 400 outlets in 240 cities countrywide. Besk was tasked with developing Ulmart eShopping system.
        </div>
        <div class="links">
          <a href="https://itunes.apple.com/gb/app/choosic-discover-new-music/id921246986?mt=8" target="_blank" class="btn btn-border"><i class="icon icon-left icon-app icon-middle"></i>iTunse</a>
          <a href="https://play.google.com/store/apps/details?id=uk.co.choosic" target="_blank" class="btn btn-border"><i class="icon icon-left icon-gp icon-middle"></i>Google play</a>
          <!--<a href="https://bloombees.com/" target="_blank" class="btn btn-border"><i class="icon icon-left icon-web icon-middle"></i>Web</a>-->
        </div>
      </div>
      <div class="page-project-intro_image">
        <img src="images/projects/ulmart/img0.png" alt="">
      </div>
    </div>
  </div>
  <div class="page-project-about">
    <div class="container">
      <div class="page-project-about_tech">
        <div class="page-project-about_tech_item">
          <div class="image"><img src="images/tech/translation.svg" alt=""></div>
          <div class="title"><h5>Russia</h5></div>
          <div class="text">Region</div>
        </div>
        <div class="page-project-about_tech_item">
          <div class="image"><img src="images/tech/clock.svg" alt=""></div>
          <div class="title"><h5>6 month</h5></div>
          <div class="text">Duration</div>
        </div>
        <div class="page-project-about_tech_item">
          <div class="image"><img src="images/tech/cloud.svg" alt=""></div>
          <div class="title"><h5>iOS / Android / Web</h5></div>
          <div class="text">Platforms</div>
        </div>
        <div class="page-project-about_tech_item">
          <div class="image"><img src="images/tech/calendar.svg" alt=""></div>
          <div class="title"><h5>2016</h5></div>
          <div class="text">Year</div>
        </div>
      </div>
      <div class="page-project-about_desc">
        <div class="page-project-about_desc-text">
          <img src="images/projects/ulmart/img2.png" alt="">
          <h3>400
            <small>warehouses</small> 80000
            <small>purchases
            per day</small></h3>
          Before the company of such scale, new tasks arise every day, which the ItTop's team manages quickly and effectively. For now, we have successfully completed more than 30 projects.
          <img src="images/projects/ulmart/img3.png" alt="">
          <div class="text-center">
          <h3>Implemented projects</h3>
          <img src="images/projects/ulmart/img4.png" alt="">
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!--{% include "blocks/footer/_footer.html" %}-->
{% include "blocks/base/_page-down.html" %}