<header class="header">
    <div class="container">
        <div class="flexible">
            <a class="header-logo" href="index.html"> <img src="images/logo.svg" alt="It Top"></a>
            <div class="header-nav" id="navbar">
                <ul class="nav">
                    <li><a class="link scroll-page" href="#about">About us</a></li>
                    <li><a class="link" href="projects.html">Projects</a></li>
                    <!--<li><a class="link" href="#">News</a></li>-->
                    <li><a class="link" href="career.html">Career</a></li>
                    <li><a class="link scroll-page" href="#contact">Contact us</a></li>
                </ul>
            </div>
            <div class="header-menu">
                <a class="btn btn-menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
            </div>
        </div>
    </div>
</header>