<div class="page-projects_item vertical">
    <div class="page-projects_item_image">
        <img src="images/projects/bloombees/img1.png" alt="">
    </div>
    <div class="page-projects_item_content">
        <div class="title"><h5>Bloombees</h5></div>
        <div class="text">
            Bloombees is the best decision for medium and small merchants who want to share and sell products via social networks.
        </div>
        <div class="page-projects_item_down">
            <div class="more"><a href="project-bloombees.html" class="link link-more">Read more</a></div>
            <div class="date">2016</div>
        </div>
    </div>
</div>