<div class="page-projects_item">
    <div class="title"><h5>UniGuide</h5></div>
    <div class="text">
        One of the most popular and powerful music player for Android with many built-in features. This application has more than 50 min+ downloads worldwide.
    </div>
    <div class="page-projects_item_down">
        <div class="more"><a href="#" class="link link-more">Read more</a></div>
        <div class="date">12 july 2017</div>
    </div>
</div>