<div class="page-projects_item double">
    <div class="page-projects_item_image">
        <img src="images/projects/img17.png" alt="">
    </div>
    <div class="page-projects_item_content">
        <div class="title"><h5>Choosic</h5></div>
        <div class="text">
            Choosic is an easy to use media player with daily music recommendations and free music listening. Besk developed a unique application and achieve stability in its working.
        </div>
        <div class="page-projects_item_down">
            <div class="more"><a href="project.html" class="link link-more">Read more</a></div>
            <div class="date">12 july 2017</div>
        </div>
    </div>
</div>