<div class="page-projects_item full white" style="background-image: url('images/projects/bg1.jpg')">

    <div class="page-projects_item_content">
        <div class="title"><h2>IQclash</h2></div>
        <div class="text">
            IQ Clash is a mobile game where everyone can get a reward for their intelligence! Perform all tasks faster than competitors and take the maximum prize!
        </div>
        <div class="links">
            <a href="#" class="btn btn-border"><i class="icon icon-left icon-app icon-middle"></i>iTunse</a>
            <a href="#" class="btn btn-border"><i class="icon icon-left icon-gp icon-middle"></i>Google play</a>
            <a href="#" class="btn btn-border"><i class="icon icon-left icon-web icon-middle"></i>Web</a>
        </div>
    </div>
    <div class="page-projects_item_image">
        <img src="images/projects/img1.png" alt="">
    </div>
</div>