<div class="page-projects_item vertical">
    <div class="page-projects_item_image">
        <img src="images/projects/headshotbets/img1.png" alt="">
    </div>
    <div class="page-projects_item_content">
        <div class="title"><h5>Headshotbets</h5></div>
        <div class="text">
            An innovative resource for people to hang on and watch-discuss-place bets on Cyber Championships - Dota, League of Legends, StarcCraft and way more. Started with just a betting feed the resource now boasts a chat, communities, live streaming, game reviews, championship history. Even more ambitious plans are on the way.
        </div>
        <div class="page-projects_item_down">
            <div class="more"><a href="project-headshotbets.html" class="link link-more">Read more</a></div>
            <div class="date">2015</div>
        </div>
    </div>
</div>