<div class="page-projects_item vertical">
    <div class="page-projects_item_image">
        <img src="images/projects/hyundai/img1.png" alt="">
    </div>
    <div class="page-projects_item_content">
        <div class="title"><h5>Hyundai</h5></div>
        <div class="text">
            World Hyundai is a benefit program which was created for Hyundai clients to help them to collect bonuses and get prizes.
        </div>
        <div class="page-projects_item_down">
            <div class="more"><a href="project-hyundai.html" class="link link-more">Read more</a></div>
            <div class="date">2016</div>
        </div>
    </div>
</div>