<div class="page-projects_item vertical">
    <div class="page-projects_item_image">
        <img src="images/projects/know_ww1/img1.png" alt="">
    </div>
    <div class="page-projects_item_content">
        <div class="title"><h5>Know WW I</h5></div>
        <div class="text">
            Know WWI is the first mobile guide app about World War I. It helps you to know and honor those who lived, worked and died during World War I. It shows commemorative events, tells "On this Day" history and more.
        </div>
        <div class="page-projects_item_down">
            <div class="more"><a href="project-know_ww1.html" class="link link-more">Read more</a></div>
            <div class="date">2015</div>
        </div>
    </div>
</div>