<div class="page-projects_item vertical">
    <div class="page-projects_item_image">
        <img src="images/projects/marathonbet/img1.png" alt="">
    </div>
    <div class="page-projects_item_content">
        <div class="title"><h5>Marathonbet</h5></div>
        <div class="text">
            Marathonbet is a huge betting portal where you can bet on sports, cybersport matches or casinos.
        </div>
        <div class="page-projects_item_down">
            <div class="more"><a href="project-marathonbet.html" class="link link-more">Read more</a></div>
            <div class="date">2015</div>
        </div>
    </div>
</div>