<div class="page-projects_item full white" style="background-image: url('images/projects/no_halftime/fon.png')">

    <div class="page-projects_item_content">
        <a href="project-no_halftime.html" class="title"><h2>No Halftime</h2></a>
        <div class="text">
            No Halftime is a mobile application that allows you and your friends to bet on your favorite sports stars in fantasy matches and win real money.
        </div>
        <div class="links">
            <a href="https://itunes.apple.com/us/app/id1043638730" target="_blank" class="btn btn-border"><i class="icon icon-left icon-app icon-middle"></i>iTunse</a>
            <a href="http://www.nohalftime.com/" target="_blank" class="btn btn-border"><i class="icon icon-left icon-web icon-middle"></i>Web</a>
        </div>
    </div>
    <div class="page-projects_item_image">
        <img src="images/projects/no_halftime/logo.png" alt="">
    </div>
</div>