<div class="page-projects_item vertical">
    <div class="page-projects_item_image">
        <img src="images/projects/oudermatch/img1.png" alt="">
    </div>
    <div class="page-projects_item_content">
        <div class="title"><h5>Oudermatch</h5></div>
        <div class="text">
            Oudermatch will help you to find a babysitter near you with one click. This application has more than 600K users in Europe.
        </div>
        <div class="page-projects_item_down">
            <div class="more"><a href="project-oudermatch.html" class="link link-more">Read more</a></div>
            <div class="date">2016</div>
        </div>
    </div>
</div>