<div class="page-projects_item vertical">
    <div class="page-projects_item_image">
        <img src="images/projects/seasons/img1.png" alt="">
    </div>
    <div class="page-projects_item_content">
        <div class="title"><h5>Seasons</h5></div>
        <div class="text">
            Seasons of life is a global project in which creative people from all over Moscow were participated. It includes a printed edition, online lessons and master classes on creativity for adults and children, a blog and a local event guide.
        </div>
        <div class="page-projects_item_down">
            <div class="more"><a href="project-seasons.html" class="link link-more">Read more</a></div>
            <div class="date">2014</div>
        </div>
    </div>
</div>