<div class="page-projects_item vertical">
    <div class="page-projects_item_image">
        <img src="images/projects/ulmart/img1.png" alt="">
    </div>
    <div class="page-projects_item_content">
        <div class="title"><h5>Ulmart</h5></div>
        <div class="text">
            Ulmart is one of the largest private e-commerce company in Russia, with a marketing network that covers more than 400 outlets in 240 cities countrywide. Besk was tasked with developing Ulmart eShopping system.
        </div>
        <div class="page-projects_item_down">
            <div class="more"><a href="project-ulmart.html" class="link link-more">Read more</a></div>
            <div class="date">2016</div>
        </div>
    </div>
</div>